:root {
    --side: 200px;
    --hight: 86.6px;
}


*, *:before, *:after {
    transform-style: preserve-3d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	transform: translateZ(1000px);
}



.slider-container > *{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

label {
    display: inline-block;
}

.scene {
    margin: 50px 0 50px;
    width: var(--side);
    height: var(--side);
    perspective: 500px;
}

.prism {
    width: 100%;
    height: 100%;
    transform-origin: calc(var(--side)/2) calc(var(--side)/2) calc(0px - var(--hight));
    transition: transform 0.5s;
}

.face {
    position: absolute;
    outline: 1px solid transparent;
}


.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgba(0, 255, 0, 0.3) transparent;
    border-width: 0 calc(var(--side)/2) calc(var(--hight)*2);

}

.rectangle {
    border: solid 1px black;
    width: var(--side);
    height: var(--side);
    background-color: rgba(255, 0, 0, 0.3);
}

.face:nth-of-type(1) {
    transform: rotateY(0deg);
}
.face:nth-of-type(2) {
    transform: rotateY(120deg) translateZ(var(--hight)) translateX(calc(var(--side)/4));
}
.face:nth-of-type(3) {
    transform: rotateY(240deg) translateZ(var(--hight)) translateX(calc(0px - var(--side)/4));
}
.face:nth-of-type(4) {
    transform: rotateX(90deg) translateY(calc(0px - var(--hight))) translateZ(var(--hight));
}
.face:nth-of-type(5) {
    transform: rotateX(90deg) translateY(calc(0px - var(--hight))) translateZ(calc(-200px + var(--hight) - 2px));
}
